@font-face {
  font-family: comicReliefRegular;
  src: url(Comic_Relief/ComicRelief-Regular.ttf);
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  display: flex;
  height: 100vh;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.left-section {
  width: 35vw;
  background-image: url(badminton.jpg);
  background-size: cover;
  background-position: 20%;
  display: flex;
  position: relative;
}

.right-section {
  width: 65vw;
  display: flex;
  flex-direction: column;
}

.JBM {
  font-family: comicReliefRegular;
  height: fit-content;
  width: 100%;
  text-align: center;
  justify-content: center;
  position: absolute;
  top: 12%;
  color: orange;
  background-color: rgba(0, 0, 0, 0.9);
}

.right-section-top {
  border: 1px solid red;
  height: 30vh;
  position: relative;
  background-color: aliceblue;
}

.right-section-middle {
  border: 1px solid red;
  height: 40vh;
  position: relative;
}

.right-section-bottom {
  border: 1px solid red;
  height: 30vh;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  position: relative;
}

.five-percent {
  border: 1px solid blue;
  width: fit-content;
  height: fit-content;
  position: absolute;
  bottom: 10%;
  left: 3%;
}

.row-1,
.row-2,
.row-3,
.row-4 {
  border: 1px solid yellow;
  height: 25%;
  display: flex;
  margin-left: 3%;
  gap: 3%;
}

.sign-up {
  border: 1px solid blue;
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 5%;
}

label {
  border: 1px solid green;
}

p {
  border: 1px solid blue;
  width: fit-content;
  height: fit-content;
  margin-left: 3%;
  position: absolute;
  top: 20%;
}

form {
  height: 90%;
}

button {
  margin-left: 3%;
  position: absolute;
  top: 5%;
}